<h2 align='center'> Day 12 Assignment </h2>

## Statistical Analysis

#### Importing Libraries

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
df = pd.read_csv('general_data.csv')

#### Filling Null Values by mean and median

In [3]:
df['TotalWorkingYears'] = df['TotalWorkingYears'].fillna(11.28) 
# 11.28 is the mean of TotalWorkingYears column 
df['NumCompaniesWorked'] = df['NumCompaniesWorked'].fillna(2)
# 2 is the median of NumCompaniesWorked

#### Checking first five columns

In [4]:
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   Attrition                4410 non-null   object
 2   BusinessTravel           4410 non-null   object
 3   Department               4410 non-null   object
 4   DistanceFromHome         4410 non-null   int64
 5   Education                4410 non-null   int64
 6   EducationField           4410 non-null   object
 7   EmployeeCount            4410 non-null   int64
 8   EmployeeID               4410 non-null   int64
 9   Gender                   4410 non-null   object
 10  JobLevel                 4410 non-null   int64
 11  JobRole                  4410 non-null   object
 12  MaritalStatus            4410 non-null   object
 13  MonthlyIncome            4410 non-null   int64
 14  NumCompaniesWorked       4410 non-null   float64
 15  Over18                   4410 non-null   object
 16  PercentSalaryHike        4410 non-null   int64
 17  StandardHours            4410 non-null   int64
 18  StockOptionLevel         4410 non-null   int64
 19  TotalWorkingYears        4410 non-null   float64
 20  TrainingTimesLastYear    4410 non-null   int64
 21  YearsAtCompany           4410 non-null   int64
 22  YearsSinceLastPromotion  4410 non-null   int64
 23  YearsWithCurrManager     4410 non-null   int64
dtypes: float64(2), int64(14), object(8)
memory usage: 827.0+ KB

### Seperating attrition datatset into attrition yes and attrition no

grouped = df.groupby(df.Attrition)
df1 = grouped.get_group("Yes")

grouped_2 = df.groupby(df.Attrition)
df2 = grouped_2.get_group("No")

df1.to_csv('Attrition_Yes.csv', index=False)
df2.to_csv('Attrition_No.csv', index=False)

In [6]:
df1 = pd.read_csv('Attrition_Yes.csv')
df2 = pd.read_csv('Attrition_No.csv')

In [7]:
df1.shape

(711, 24)

In [8]:
df2.shape

(3699, 24)

In [9]:
df.shape

(4410, 24)

In [10]:
df1.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
1,28,Yes,Travel_Rarely,Research & Development,11,2,Medical,1,7,Male,...,2.0,Y,20,8,1,5.0,2,0,0,0
2,47,Yes,Non-Travel,Research & Development,1,1,Medical,1,14,Male,...,1.0,Y,11,8,2,10.0,4,10,9,9
3,44,Yes,Travel_Frequently,Research & Development,1,2,Medical,1,29,Male,...,3.0,Y,14,8,1,19.0,2,1,0,0
4,26,Yes,Travel_Rarely,Research & Development,4,3,Medical,1,31,Male,...,2.0,Y,11,8,0,5.0,5,3,0,2

In [11]:
df2.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
2,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
3,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
4,46,No,Travel_Rarely,Research & Development,8,3,Life Sciences,1,6,Female,...,3.0,Y,13,8,0,28.0,5,7,7,7

# Applying mannwhitneyu Test

In [12]:
from scipy.stats import mannwhitneyu

Ho : There is No Significant Difference in between Attrition(Yes) and Attrition(No) Columns

H1 : There is Significant Difference in between Attrition(Yes) and Attrition(No) Columns

#### Attrition V/s Monthly Income

In [13]:
stats,p = mannwhitneyu(df1.MonthlyIncome,df2.MonthlyIncome)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is 1264900.5 and p value is 0.053577283839938566

#### Attrition V/s Years At Company

In [14]:
stats,p = mannwhitneyu(df1.YearsAtCompany,df2.YearsAtCompany)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is 923238.0 and p value is 6.047598261692858e-37

#### Attrition V/s YearsWithCurrManager

In [15]:
stats,p = mannwhitneyu(df1.YearsWithCurrManager,df2.YearsWithCurrManager)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is 957253.5 and p value is 1.2365483142169853e-31

#### Attrition V/s Total Working Years

In [16]:
stats,p = mannwhitneyu(df1.TotalWorkingYears,df2.TotalWorkingYears)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is 909954.0 and p value is 2.8897554531400447e-39

#### Attrition V/s Distance From Home

In [17]:
stats,p = mannwhitneyu(df1.DistanceFromHome,df2.DistanceFromHome)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is 1312110.0 and p value is 0.4629185205822659

#### Attrition V/s BusinessTravel

In [18]:
stats,p = mannwhitneyu(df1.BusinessTravel,df2.BusinessTravel)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is 1266192.0 and p value is 0.024442388462694316

#### Attrition V/s Department

In [19]:
stats,p = mannwhitneyu(df1.Department,df2.Department)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is 1243183.5 and p value is 0.0027584840572994446

#### Attrition V/s Education

In [20]:
stats,p = mannwhitneyu(df1.Education,df2.Education)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is 1280146.5 and p value is 0.12035477215449608

#### Attrition V/s TrainingTimesLastYear

In [21]:
stats,p = mannwhitneyu(df1.TrainingTimesLastYear,df2.TrainingTimesLastYear)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is 1238940.0 and p value is 0.005167954938699059

#### Attrition V/s Education Field

In [22]:
stats,p = mannwhitneyu(df1.EducationField,df2.EducationField)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is 1206328.5 and p value is 0.0001114613326946958

#### Attrition V/s Age

In [23]:
stats,p = mannwhitneyu(df1.Age,df2.Age)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is 961731.0 and p value is 2.9951588479067175e-30

#### Attrition V/s Gender

In [24]:
stats,p = mannwhitneyu(df1.Gender,df2.Gender)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is 1283242.5 and p value is 0.11439304195948907

#### Attrition V/s JobLevel

In [25]:
stats,p = mannwhitneyu(df1.JobLevel,df2.JobLevel)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is 1309131.0 and p value is 0.4211326530832555

#### Attrition V/s Job Role

In [26]:
stats,p = mannwhitneyu(df1.JobRole,df2.JobRole)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is 1271367.0 and p value is 0.07748676434031176

#### Attrition V/s MaritalStatus

In [27]:
stats,p = mannwhitneyu(df1.MaritalStatus,df2.MaritalStatus)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is 998784.0 and p value is 2.834595383665665e-28

#### Attrition V/s NumCompaniesWorked

In [28]:
stats,p = mannwhitneyu(df1.NumCompaniesWorked,df2.NumCompaniesWorked)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is 1255531.5 and p value is 0.02488087998120482

#### Attrition V/s PercentSalaryHike

In [29]:
stats,p = mannwhitneyu(df1.PercentSalaryHike,df2.PercentSalaryHike)
print('The Critical value is {} and p value is {}'.format(stats,p))#### Attrition V/s Monthly Income

The Critical value is 1250640.0 and p value is 0.018660129917539733

#### Attrition V/s StockOptionLevel

In [30]:
stats,p = mannwhitneyu(df1.StockOptionLevel,df2.StockOptionLevel)
print('The Critical value is {} and p value is {}'.format(stats,p))#### Attrition V/s Monthly Income

The Critical value is 1296846.0 and p value is 0.2636805975678432

#### Attrition V/s YearsSinceLastPromotion

In [31]:
stats,p = mannwhitneyu(df1.YearsSinceLastPromotion,df2.YearsSinceLastPromotion)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is 1209366.0 and p value is 0.0002021180346719736

## Inference : 
<hr>

By Applying mannwhitneyu Test , We conclude the following things:

* There is **No Significant Difference** in DistanceFromHome, Education, Gender, JobLevel, JobRole, MaritalStatus, StockOptionLevel between Attrition(Yes) and Attrition(No) as its **p value > 0.05** , 

So the Null Hypothesis is accepted and Alternative Hypothesis is rejected. 

* Rest all the columns have **p value < 0.05** 

So The Null hypothesis is rejected and Alternative Hypothesis is accepted (There is Significant Difference )
<hr>

## Applying Two Sample Independent t test

Ho : There is No Significant Difference in between Attrition(Yes) and Attrition(No) Columns

H1 : There is Significant Difference in between Attrition(Yes) and Attrition(No) Columns

In [32]:
from scipy.stats import ttest_ind

#### Attrition V/s DistanceFromHome

In [33]:
stats,p = ttest_ind(df1.DistanceFromHome,df2.DistanceFromHome)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is -0.6460416038042738 and p value is 0.518286042805572

#### Attrition V/s TotalWorkingYears

In [34]:
stats,p = ttest_ind(df1.TotalWorkingYears,df2.TotalWorkingYears)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is nan and p value is nan

#### Attrition V/s StockOptionLevel

In [35]:
stats,p = ttest_ind(df1.StockOptionLevel,df2.StockOptionLevel)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is -0.45406097771582266 and p value is 0.6498072937482536

#### Attrition V/s YearsWithCurrManager

In [36]:
stats,p = ttest_ind(df1.YearsWithCurrManager,df2.YearsWithCurrManager)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is -10.499379408703438 and p value is 1.7339322652918153e-25

#### Attrition V/s YearsAtCompany

In [37]:
stats,p = ttest_ind(df1.YearsAtCompany,df2.YearsAtCompany)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is -9.004357011787226 and p value is 3.163883122491456e-19

#### Attrition V/s MonthlyIncome

In [38]:
stats,p = ttest_ind(df1.MonthlyIncome,df2.MonthlyIncome)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is -2.0708863763619316 and p value is 0.03842748490605113

#### Attrition V/s Age

In [39]:
stats,p = ttest_ind(df1.Age,df2.Age)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is -10.70661860061757 and p value is 1.9968016158894556e-26

#### Attrition V/s Education

In [40]:
stats,p = ttest_ind(df1.Education,df2.Education)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is -1.003386859630148 and p value is 0.3157293177122392

#### Attrition V/s EmployeeID

In [41]:
stats,p = ttest_ind(df1.EmployeeID,df2.EmployeeID)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is -0.3139830896533784 and p value is 0.7535487401894094

#### Attrition V/s JobLevel

In [42]:
stats,p = ttest_ind(df1.JobLevel,df2.JobLevel)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is -0.6831987436544922 and p value is 0.4945171727187496

#### Attrition V/s NumCompaniesWorked

In [43]:
stats,p = ttest_ind(df1.NumCompaniesWorked,df2.NumCompaniesWorked)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is nan and p value is nan

#### Attrition V/s PercentSalaryHike

In [44]:
stats,p = ttest_ind(df1.PercentSalaryHike,df2.PercentSalaryHike)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is 2.1610730224641777 and p value is 0.03074338643339195

#### Attrition V/s TrainingTimesLastYear

In [45]:
stats,p = ttest_ind(df1.TrainingTimesLastYear,df2.TrainingTimesLastYear)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is -3.2858496615530743 and p value is 0.0010247061915374478

#### Attrition V/s YearsSinceLastPromotion

In [46]:
stats,p = ttest_ind(df1.YearsSinceLastPromotion,df2.YearsSinceLastPromotion)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is -2.1934039604328843 and p value is 0.028330336189428353

## Inference : 
<hr>

By Applying mannwhitneyu Test , We conclude the following things:

* There is **No Significant Difference** in DistanceFromHome, Education, Employee ID ,NumCompaniesWorked, StockOptionLevel, TotalWorkingYears  between Attrition(Yes) and Attrition(No) as its **p value > 0.05** , 

So the Null Hypothesis is accepted and Alternative Hypothesis is rejected. 

* Rest all the columns have **p value < 0.05** 

So The Null hypothesis is rejected and Alternative Hypothesis is accepted ( There is Significant Difference )
<hr>

## Applying Chi_Square Test

In [47]:
from scipy.stats import chi2_contingency

#### Attrition V/s Department

Ho : There is No Significant Difference in  Department and Attrition

H1 : There is Significant Difference in  Department and Attrition

In [48]:
chitable = pd.crosstab(df.Attrition, df.Department)
chitable

Department  Human Resources  Research & Development  Sales
Attrition
No                      132                    2430   1137
Yes                      57                     453    201

In [49]:
stats,p,dof,expected = chi2_contingency(chitable)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is 29.090274924488266 and p value is 4.820888218170406e-07

* As p value < 0.05 ,

So Null hypothesis is rejected and Alternative hypothesis is accepted ie, **There is Significant Difference in Department and Attrition**

#### Attrition V/s BusinessTravel

Ho : There is No Significant Difference in BusinessTravel and Attrition

H1 : There is Significant Difference in  BusinessTravel and Attrition

In [50]:
chitable2 = pd.crosstab(df.Attrition, df.BusinessTravel)
chitable2

BusinessTravel  Non-Travel  Travel_Frequently  Travel_Rarely
Attrition
No                     414                624           2661
Yes                     36                207            468

In [51]:
stats,p,dof,expected = chi2_contingency(chitable2)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is 72.54724105696552 and p value is 1.764276972983189e-16

* As p value < 0.05 ,

So Null hypothesis is rejected and Alternative hypothesis is accepted ie, **There is Significant Difference in BusinessTravel and Attrition**

#### Attrition V/s EducationField

Ho : There is No Significant Difference in  EducationField and Attrition

H1 : There is Significant Difference in EducationField and Attrition

In [52]:
chitable3 = pd.crosstab(df.Attrition, df.EducationField)
chitable3

EducationField,Human Resources,Life Sciences,Marketing,Medical,Other,Technical Degree
Attrition,,,,,,
No,48,1515,402,1167,216,351
Yes,33,303,75,225,30,45

In [53]:
stats,p,dof,expected = chi2_contingency(chitable3)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is 46.194921001730584 and p value is 8.288917469574179e-09

* As p value < 0.05 ,

So Null hypothesis is rejected and Alternative hypothesis is accepted ie, **There is Significant Difference in EducationField and Attrition**

#### Attrition V/s Gender

Ho : There is No Significant Difference in Gender and Attrition

H1 : There is Significant Difference in Gender and Attrition

In [54]:
chitable4 = pd.crosstab(df.Attrition, df.Gender)
chitable4

Gender     Female  Male
Attrition
No           1494  2205
Yes           270   441

In [55]:
stats,p,dof,expected = chi2_contingency(chitable4)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is 1.349904410246582 and p value is 0.24529482862926827

* As p value > 0.05 ,

So Null hypothesis is accepted and Alternative hypothesis is rejected ie, **There is No Significant Difference in Gender and Attrition**

#### Attrition V/s JobRole

Ho : There is No Significant Difference in JobRole and Attrition

H1 : There is Significant Difference in JobRole and Attrition

In [56]:
chitable5 = pd.crosstab(df.Attrition, df.JobRole)
chitable5

JobRole,Healthcare Representative,Human Resources,Laboratory Technician,Manager,Manufacturing Director,Research Director,Research Scientist,Sales Executive,Sales Representative
Attrition,,,,,,,,,
No,336,135,651,264,387,183,717,813,213
Yes,57,21,126,42,48,57,159,165,36

In [57]:
stats,p,dof,expected = chi2_contingency(chitable5)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is 25.116313674604072 and p value is 0.001485544744815264

* As p value < 0.05 ,

So Null hypothesis is rejected and Alternative hypothesis is accepted ie, **There is Significant Difference in JobRole and Attrition**

#### Attrition V/s MaritalStatus

Ho : There is No Significant Difference in MaritalStatus and Attrition

H1 : There is Significant Difference in MaritalStatus and Attrition

In [58]:
chitable5 = pd.crosstab(df.Attrition, df.MaritalStatus)
chitable5

MaritalStatus  Divorced  Married  Single
Attrition
No                  882     1767    1050
Yes                  99      252     360

In [59]:
stats,p,dof,expected = chi2_contingency(chitable5)
print('The Critical value is {} and p value is {}'.format(stats,p))

The Critical value is 138.49102962254608 and p value is 8.45385940605786e-31

* As p value < 0.05 ,

So Null hypothesis is rejected and Alternative hypothesis is accepted ie, **There is Significant Difference in MaritalStatus and Attrition**